<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактировать</title>
</head>
<body>

<h1>Редактирование товара &laquo;[[${flower.title}]]&raquo;    </h1>

<div data-th-if="${errors}">
    <h2>Допущены ошибки</h2>
    <ul>
        <li data-th-each="error: ${errors}" data-th-text="${error}"></li>
    </ul>
</div>

    <form data-th-action="@{/main/flower/{flowerId}/update(flowerId=${flower.id})}"  method="post">
        <input type="text" name="title"   placeholder="Название" data-th-value="${flower.title}"/><br>
        <input type="number" name="price"  placeholder="Цена" data-th-value="${flower.price}"/><br>
        <input type="number" name="extraCharge"  placeholder="Наценка" data-th-value="${flower.extraCharge}"/><br>
        <input type="number" name="accountingQuantity" placeholder="Учётное количество" data-th-value="${flower.accountingQuantity}"/><br>
        <input type="number" name="actualQuantity" placeholder="Фактическое количество" data-th-value="${flower.actualQuantity}"/><br>
        <input type="submit" value="Обновить"/>
    </form>
</div>


<form method="get" >
    <a data-th-href="@{/main/flower/{flowerId}/info(flowerId=${flower.id})}">
        <button  type="button"> Назад </button></a>
</form>
</body>
</html>